<div>
	<h2>{{name}}</h2>
	
	<div class="destinations">
		{{#destinations}}
			<div>
				<table>
					<tr><th>Name</th><td>{{name}}</td></tr>
					<tr><th>State</th><td>{{state}}</td></tr>
					<tr><th>Messages</th><td>{{numberOfMessages}}</td></tr>
					<tr><th>Messages Pending</th><td>{{numberOfMessagesPendingAcks}}</td></tr>
					<tr><th>Consumers</th><td>{{numberOfConsumers}}</td></tr>
				</table>
				<div class="consumers">
					{{#consumers}}
						<div>
							{{host}}/{{serviceName}}
						</div>
					{{/consumers}}
				</div>
			</div>
		{{/destinations}}
	</div>
</div>