<html>
	<head>
		<link rel="stylesheet" href="{{applicationModel.base}}/resources/bundles/extjs/ext-all-gray.css" type="text/css" />
		<link rel="stylesheet" href="{{applicationModel.base}}/resources/bundles/app/app.css" type="text/css" />
		<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
		
		<script type="text/javascript" src="{{applicationModel.base}}/resources/bundles/jquery/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="{{applicationModel.base}}/resources/bundles/jquery/js/jquery.timeago.js"></script>
		<script type="text/javascript" src="{{applicationModel.base}}/resources/bundles/extjs/bootstrap.js"></script>
		<script type="text/javascript">
		Ext.Loader.setConfig({
		   enabled : true,
		   paths : {
		      'Ext.ux' : '{{applicationModel.base}}/resources/bundles/extjs/ux',
		      'Manager' : '{{applicationModel.base}}/resources/bundles/app'
		   }
		});
		Ext.require([ 'Ext.grid.*', 'Ext.tree.*', 'Ext.data.*', 'Ext.util.*', 'Ext.Action', 'Ext.tab.*', 'Ext.button.*', 'Ext.form.*', 'Ext.layout.container.Card', 'Ext.layout.container.Border', 'Ext.ux.PreviewPlugin' ]);
		Ext.require([ 'Manager.App' ]);
		Ext.onReady(function() {
		   Ext.create('Manager.App');
		});
		</script>
		
		<title>Manager</title>
	</head>

	{{{body}}}
</html>